tapestry/impsic/xsd/sic/sic-2020/camt.054.001.02.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2013, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:   Version of this scheme

Based on ISO camt.054.001.02 (urn:iso:std:iso:20022:tech:xsd:camt.052.001.02)
For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.054.001.02.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.054.001.02.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt054"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBAN2007Identifier"/>
        <xs:element name="Othr" type="GenericAccountIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Wird nicht verwendet.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Not used.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt054"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountInterest2">
    <xs:sequence>
      <xs:element name="Tp" type="InterestType1Choice" minOccurs="0"/>
      <xs:element name="Rate" type="Rate3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="FrToDt" type="DateTimePeriodDetails" minOccurs="0"/>
      <xs:element name="Rsn" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountNotification2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="ElctrncSeqNb" type="Number" minOccurs="0"/>
      <xs:element name="LglSeqNb" type="Number" minOccurs="0"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="FrToDt" type="DateTimePeriodDetails" minOccurs="0"/>
      <xs:element name="CpyDplctInd" type="CopyDuplicate1Code" minOccurs="0"/>
      <xs:element name="RptgSrc" type="ReportingSource1Choice" minOccurs="0"/>
      <xs:element name="Acct" type="CashAccount20"/>
      <xs:element name="RltdAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="Intrst" type="AccountInterest2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TxsSummry" type="TotalTransactions2" minOccurs="0"/>
      <xs:element name="Ntry" type="ReportEntry2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AddtlNtfctnInf" type="Max500Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountNotification2_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="AccountNotification2">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CH_camt054_3">
            <xs:annotation>
              <xs:documentation source="FE_en">Block Identification</xs:documentation>
              <xs:documentation source="FE_de">Blockidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Laufende Nummer des Notification-Elements innerhalb einer Meldung. Im RTGS-System immer 1, da nur eine Instanz des Elements geliefert wird.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Consecutive number of the report element within a message. In the RTGS system always 1, because only one instance of the element will be provided.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElctrncSeqNb" type="Number" minOccurs="0" maxOccurs="0"/>
          <xs:element name="LglSeqNb" type="Number" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="FE_en">Report Date</xs:documentation>
              <xs:documentation source="FE_de">Erstellungszeitpunkt</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Erstellungszeitpunkt der Verrechnungsbestätigung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Date on which the settlement confirmation was created.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FrToDt" type="DateTimePeriodDetails" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CpyDplctInd" type="CopyDuplicate1Code" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RptgSrc" type="ReportingSource1Choice_CH_camt054" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="FE_en">Reporting Source</xs:documentation>
              <xs:documentation source="FE_de">Identifikation des RTGS</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Identifikation des RTGS, für das die Liste erstellt wurde.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Specifies the RTGS for which the reporting was generated.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Acct" type="CashAccount20_CH_camt054"/>
          <xs:element name="RltdAcct" type="CashAccount16" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Intrst" type="AccountInterest2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="TxsSummry" type="TotalTransactions2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Ntry" type="ReportEntry2_CH_camt054"/>
          <xs:element name="AddtlNtfctnInf" type="Max500Text" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount_CH_camt054">
    <xs:simpleContent>
      <xs:restriction base="ActiveOrHistoricCurrencyAndAmount">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
          <xs:annotation>
            <xs:documentation source="FE_en">Currency Code</xs:documentation>
            <xs:documentation source="FE_de">Währungscode</xs:documentation>
            <xs:documentation xml:lang="DE" source="CH-Definition"/>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AlternateSecurityIdentification2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Id" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchange3">
    <xs:sequence>
      <xs:element name="InstdAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
      <xs:element name="TxAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
      <xs:element name="CntrValAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
      <xs:element name="AnncdPstngAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
      <xs:element name="PrtryAmt" type="AmountAndCurrencyExchangeDetails4" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchangeDetails3">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CcyXchg" type="CurrencyExchange5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchangeDetails4">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CcyXchg" type="CurrencyExchange5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountRangeBoundary1">
    <xs:sequence>
      <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
      <xs:element name="Incl" type="YesNoIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BankToCustomerDebitCreditNotificationV02">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader42"/>
      <xs:element name="Ntfctn" type="AccountNotification2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankToCustomerDebitCreditNotificationV02_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="BankToCustomerDebitCreditNotificationV02">
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader42_CH_camt054"/>
          <xs:element name="Ntfctn" type="AccountNotification2_CH_camt054"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructure4">
    <xs:sequence>
      <xs:element name="Domn" type="BankTransactionCodeStructure5" minOccurs="0"/>
      <xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructure4_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="BankTransactionCodeStructure4">
        <xs:sequence>
          <xs:element name="Domn" type="BankTransactionCodeStructure5" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1_CH_camt054" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructure5">
    <xs:sequence>
      <xs:element name="Cd" type="ExternalBankTransactionDomain1Code"/>
      <xs:element name="Fmly" type="BankTransactionCodeStructure6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructure6">
    <xs:sequence>
      <xs:element name="Cd" type="ExternalBankTransactionFamily1Code"/>
      <xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamily1Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BaseOneRate">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="11"/>
      <xs:fractionDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BatchInformation2">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
      <xs:element name="PmtInfId" type="Max35Text" minOccurs="0"/>
      <xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
      <xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_camt054"/>
          <xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
      <xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount20">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
      <xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
      <xs:element name="Ownr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Svcr" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount20_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="CashAccount20">
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CH_camt054"/>
          <xs:element name="Tp" type="CashAccountType2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Ownr" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Svcr" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccountType2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="CashAccountType4Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CashAccountType4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CACC"/>
      <xs:enumeration value="CASH"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="CISH"/>
      <xs:enumeration value="COMM"/>
      <xs:enumeration value="LOAN"/>
      <xs:enumeration value="MGLD"/>
      <xs:enumeration value="MOMA"/>
      <xs:enumeration value="NREX"/>
      <xs:enumeration value="ODFT"/>
      <xs:enumeration value="ONDP"/>
      <xs:enumeration value="SACC"/>
      <xs:enumeration value="SLRY"/>
      <xs:enumeration value="SVGS"/>
      <xs:enumeration value="TAXE"/>
      <xs:enumeration value="TRAS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashBalanceAvailability2">
    <xs:sequence>
      <xs:element name="Dt" type="CashBalanceAvailabilityDate1"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalanceAvailabilityDate1">
    <xs:sequence>
      <xs:choice>
        <xs:element name="NbOfDays" type="Max15PlusSignedNumericText"/>
        <xs:element name="ActlDt" type="ISODate"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRED"/>
      <xs:enumeration value="DEBT"/>
      <xs:enumeration value="SHAR"/>
      <xs:enumeration value="SLEV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChargesInformation6">
    <xs:sequence>
      <xs:element name="TtlChrgsAndTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Tp" type="ChargeType2Choice" minOccurs="0"/>
      <xs:element name="Rate" type="PercentageRate" minOccurs="0"/>
      <xs:element name="Br" type="ChargeBearerType1Code" minOccurs="0"/>
      <xs:element name="Pty" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="Tax" type="TaxCharges2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChargeType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BRKF"/>
      <xs:enumeration value="COMM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChargeType2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ChargeType1Code"/>
        <xs:element name="Prtry" type="GenericIdentification3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
              <xs:annotation>
                <xs:documentation source="FE_en">Clearing System Identification (code)</xs:documentation>
                <xs:documentation source="FE_de">Identifikation des Clearingsystems (Code)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_camt054" minOccurs="0"/>
          <xs:element name="MmbId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="FE_en">Identification of Instructed Participant (proprietary)</xs:documentation>
              <xs:documentation source="FE_de">Identifikation des gutzuschreibenden Teilnehmers (proprietär)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CopyDuplicate1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CODU"/>
      <xs:enumeration value="COPY"/>
      <xs:enumeration value="DUPL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CorporateAction1">
    <xs:sequence>
      <xs:element name="Cd" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nb" type="Max35Text" minOccurs="0"/>
      <xs:element name="Prtry" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType3Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyAndAmountRange2">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyExchange5">
    <xs:sequence>
      <xs:element name="SrcCcy" type="ActiveOrHistoricCurrencyCode"/>
      <xs:element name="TrgtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="UnitCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="XchgRate" type="BaseOneRate"/>
      <xs:element name="CtrctId" type="Max35Text" minOccurs="0"/>
      <xs:element name="QtnDt" type="ISODateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Dt" type="ISODate"/>
        <xs:element name="DtTm" type="ISODateTime"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeChoice_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="DateAndDateTimeChoice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Dt" type="ISODate">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Wird nicht verwendet.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Not used.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
              <xs:annotation>
                <xs:documentation source="FE_en">Booking Date</xs:documentation>
                <xs:documentation source="FE_de">Verrechnungszeitpunkt</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition"/>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeChoice_CH_camt054_2">
    <xs:complexContent>
      <xs:restriction base="DateAndDateTimeChoice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Dt" type="ISODate">
              <xs:annotation>
                <xs:documentation source="FE_en">Value Date</xs:documentation>
                <xs:documentation source="FE_de">Valutatag</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition"/>
              </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Wird nicht verwendet.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Not used.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate"/>
      <xs:element name="ToDt" type="ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime"/>
      <xs:element name="ToDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="BkToCstmrDbtCdtNtfctn" type="BankToCustomerDebitCreditNotificationV02"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AROI"/>
      <xs:enumeration value="BOLD"/>
      <xs:enumeration value="CINV"/>
      <xs:enumeration value="CMCN"/>
      <xs:enumeration value="CNFA"/>
      <xs:enumeration value="CREN"/>
      <xs:enumeration value="DEBN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="DNFA"/>
      <xs:enumeration value="HIRI"/>
      <xs:enumeration value="MSIN"/>
      <xs:enumeration value="SBIN"/>
      <xs:enumeration value="SOAC"/>
      <xs:enumeration value="TSUT"/>
      <xs:enumeration value="VCHR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="BkToCstmrDbtCdtNtfctn" type="BankToCustomerDebitCreditNotificationV02_CH_camt054"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntryDetails1">
    <xs:sequence>
      <xs:element name="Btch" type="BatchInformation2" minOccurs="0"/>
      <xs:element name="TxDtls" type="EntryTransaction2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryDetails1_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="EntryDetails1">
        <xs:sequence>
          <xs:element name="Btch" type="BatchInformation2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="TxDtls" type="EntryTransaction2_CH_camt054"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EntryStatus2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="INFO"/>
      <xs:enumeration value="PDNG"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EntryTransaction2">
    <xs:sequence>
      <xs:element name="Refs" type="TransactionReferences2" minOccurs="0"/>
      <xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0"/>
      <xs:element name="Avlbty" type="CashBalanceAvailability2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BkTxCd" type="BankTransactionCodeStructure4" minOccurs="0"/>
      <xs:element name="Chrgs" type="ChargesInformation6" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Intrst" type="TransactionInterest2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RltdPties" type="TransactionParty2" minOccurs="0"/>
      <xs:element name="RltdAgts" type="TransactionAgents2" minOccurs="0"/>
      <xs:element name="Purp" type="Purpose2Choice" minOccurs="0"/>
      <xs:element name="RltdRmtInf" type="RemittanceLocation2" minOccurs="0" maxOccurs="10"/>
      <xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
      <xs:element name="RltdDts" type="TransactionDates2" minOccurs="0"/>
      <xs:element name="RltdPric" type="TransactionPrice2Choice" minOccurs="0"/>
      <xs:element name="RltdQties" type="TransactionQuantities1Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="FinInstrmId" type="SecurityIdentification4Choice" minOccurs="0"/>
      <xs:element name="Tax" type="TaxInformation3" minOccurs="0"/>
      <xs:element name="RtrInf" type="ReturnReasonInformation10" minOccurs="0"/>
      <xs:element name="CorpActn" type="CorporateAction1" minOccurs="0"/>
      <xs:element name="SfkpgAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="AddtlTxInf" type="Max500Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryTransaction2_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="EntryTransaction2">
        <xs:sequence>
          <xs:element name="Refs" type="TransactionReferences2_CH_camt054"/>
          <xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Avlbty" type="CashBalanceAvailability2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="BkTxCd" type="BankTransactionCodeStructure4" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Chrgs" type="ChargesInformation6" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Intrst" type="TransactionInterest2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RltdPties" type="TransactionParty2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RltdAgts" type="TransactionAgents2_CH_camt054" minOccurs="0" maxOccurs="0">
            <xs:annotation>
              <xs:documentation source="FE_en">Related Agents</xs:documentation>
              <xs:documentation source="FE_de">Gegenpartei der Transaktion</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Purp" type="Purpose2Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RltdRmtInf" type="RemittanceLocation2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RltdDts" type="TransactionDates2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RltdPric" type="TransactionPrice2Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RltdQties" type="TransactionQuantities1Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="FinInstrmId" type="SecurityIdentification4Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Tax" type="TaxInformation3" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RtrInf" type="ReturnReasonInformation10" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CorpActn" type="CorporateAction1" minOccurs="0" maxOccurs="0"/>
          <xs:element name="SfkpgAcct" type="CashAccount16" minOccurs="0" maxOccurs="0"/>
          <xs:element name="AddtlTxInf" type="Max500Text" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalBankTransactionDomain1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalBankTransactionFamily1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalBankTransactionSubFamily1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalReportingSource1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalReturnReason1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalTechnicalInputChannel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Creditor Agent Identification (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Instituts des Zahlungsempfängers (BIC)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt054" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Creditor Agent Identification (proprietary)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Instituts des Zahlungsempfängers (proprietär)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Nm" type="Max140Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Agent Name</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Name des Instituts</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PstlAdr" type="PostalAddress6_CH_camt054_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Agent Address</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Adresse des Instituts</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstrumentQuantityChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Unit" type="DecimalNumber"/>
        <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
        <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FromToAmountRange">
    <xs:sequence>
      <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
      <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text_CH_camt054">
            <xs:annotation>
              <xs:documentation source="FE_en">Settlement Account</xs:documentation>
              <xs:documentation source="FE_de">Verrechnungskonto</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Identifikation des SIC-Verrechnungskontos.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Identification of the SIC settlement account.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="GenericOrganisationIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CH_camt054_3">
            <xs:annotation>
              <xs:documentation source="FE_en">Member Identification</xs:documentation>
              <xs:documentation source="FE_de">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">SIC-IID (=6n).</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">SIC IID (=6n).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader42">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="MsgRcpt" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="MsgPgntn" type="Pagination" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max500Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader42_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="GroupHeader42">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt054">
            <xs:annotation>
              <xs:documentation source="FE_en">Message Identification</xs:documentation>
              <xs:documentation source="FE_de">Meldungsidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="FE_en">Creation Date Time</xs:documentation>
              <xs:documentation source="FE_de">Erstellungszeitpunkt der Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="MsgRcpt" type="PartyIdentification32_CH_camt054">
            <xs:annotation>
              <xs:documentation source="FE_en">Message Recipient</xs:documentation>
              <xs:documentation source="FE_de">Meldungsempfänger</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Die Meldung wird immer an den zahlenden Teilnehmer der in &lt;TxDtls&gt; referenzierten Zahlung gesendet.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">The message is always sent to the instructing participant of the payment referenced in &lt;TxDtls&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MsgPgntn" type="Pagination" minOccurs="0" maxOccurs="0"/>
          <xs:element name="AddtlInf" type="Max500Text" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ImpliedCurrencyAmountRangeChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
        <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
        <xs:element name="FrToAmt" type="FromToAmountRange"/>
        <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
        <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InterestType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="InterestType1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InterestType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INDY"/>
      <xs:enumeration value="OVRN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISINIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{12,12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15PlusSignedNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[+]{0,1}[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text_CH_camt054">
    <xs:restriction base="Max16Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text_CH_camt054">
    <xs:restriction base="Max34Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt054">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt054_2">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt054_3">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max500Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="500"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max5NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text_CH_camt054">
    <xs:restriction base="Max70Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageIdentification2">
    <xs:sequence>
      <xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
      <xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification2_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="MessageIdentification2">
        <xs:sequence>
          <xs:element name="MsgNmId" type="Max35Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="FE_de">Meldungstyp der referenzierten Meldung</xs:documentation>
              <xs:documentation source="FE_en">Message Name Identification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NameAndAddress10">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text"/>
      <xs:element name="Adr" type="PostalAddress6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumberAndSumOfTransactions1">
    <xs:sequence>
      <xs:element name="NbOfNtries" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="Sum" type="DecimalNumber" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberAndSumOfTransactions2">
    <xs:sequence>
      <xs:element name="NbOfNtries" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="Sum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="TtlNetNtryAmt" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification4">
        <xs:sequence>
          <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Instructing Participant (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Meldungsempfängers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Element darf nicht gleichzeitig mit &lt;ClrSysMmbId&gt; verwendet werden.
Muss einen gültigen Wert gemäss ISO 9362 enthalten.
Muss gültigen BIC eines aktiven Teilnehmers enthalten. 
Darf nicht verkettet sein.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
SWIFT address with 8 or 11 alphanumeric characters.
This element must not be used at the same time as &lt;ClrSysMmbId&gt;.
Must contain a valid value according to ISO 9362.
Must contain a valid BIC of an active participant. 
Must not be concatenated.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt054" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Message Recipient (proprietary)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Meldungsempfängers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Element darf nicht gleichzeitig mit &lt;BICorBEI&gt; verwendet werden.
Muss gültige Identifikation eines aktiven Teilnehmers enthalten. 
Darf nicht verkettet sein.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
This element must not be used at the same time as &lt;BICorBEI&gt;.
Must contain a valid identification of an active participant. 
Must not be concatenated.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element name="PgNb" type="Max5NumericText"/>
      <xs:element name="LastPgInd" type="YesNoIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4"/>
        <xs:element name="PrvtId" type="PersonIdentification5"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="Party6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification4_CH_camt054"/>
            <xs:element name="PrvtId" type="PersonIdentification5">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Wird nicht verwendet.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Not used.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party6Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6_CH_camt054" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Id" type="Party6Choice_CH_camt054" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="FE_en">Identification of Message Recipient</xs:documentation>
              <xs:documentation source="FE_de">Identifikation des Meldungsempfängers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Die Identifikation des Meldungsempfängers erfolgt sinngemäss analog zur verwendeten Identifikation in der referenzierten Zahlung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">The message recipient is identified in the same way as in the referenced payment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PercentageRate">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="11"/>
      <xs:fractionDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="PostalAddress6">
        <xs:sequence>
          <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
          <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
          <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
          <xs:element name="StrtNm" type="Max70Text_CH_camt054" minOccurs="0"/>
          <xs:element name="BldgNb" type="Max16Text_CH_camt054" minOccurs="0"/>
          <xs:element name="PstCd" type="Max16Text_CH_camt054" minOccurs="0"/>
          <xs:element name="TwnNm" type="Max35Text_CH_camt054_2" minOccurs="0"/>
          <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
          <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
          <xs:element name="AdrLine" type="Max70Text_CH_camt054" minOccurs="0" maxOccurs="7"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_CH_camt054_2">
    <xs:complexContent>
      <xs:restriction base="PostalAddress6">
        <xs:sequence>
          <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="StrtNm" type="Max70Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Street Name</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Strasse</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BldgNb" type="Max16Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Building Number</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Hausnummer</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PstCd" type="Max16Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Postcode</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Postleitzahl</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TwnNm" type="Max35Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Town Name</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Ort</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Ctry" type="CountryCode" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Country</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Land</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Address Line (unstructured)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Adresszeile (unstrukturiert)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProprietaryAgent2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryBankTransactionCodeStructure1">
    <xs:sequence>
      <xs:element name="Cd" type="Max35Text"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryBankTransactionCodeStructure1_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="ProprietaryBankTransactionCodeStructure1">
        <xs:sequence>
          <xs:element name="Cd" type="Max35Text_CH_camt054_3">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Payment Type</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Zahlungsart</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Zahlungsart aus der verrechneten Meldung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Payment type of the settled message.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProprietaryDate2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Dt" type="DateAndDateTimeChoice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryParty2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Pty" type="PartyIdentification32"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryPrice2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Pric" type="ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryQuantity1">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Qty" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryReference1">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text"/>
      <xs:element name="Ref" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Purpose2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPurpose1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rate3">
    <xs:sequence>
      <xs:element name="Tp" type="RateType4Choice"/>
      <xs:element name="VldtyRg" type="CurrencyAndAmountRange2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateType4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Pctg" type="PercentageRate"/>
        <xs:element name="Othr" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3">
    <xs:sequence>
      <xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
      <xs:element name="Nb" type="Max35Text" minOccurs="0"/>
      <xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType5Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount1">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5">
    <xs:sequence>
      <xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation2">
    <xs:sequence>
      <xs:element name="RmtId" type="Max35Text" minOccurs="0"/>
      <xs:element name="RmtLctnMtd" type="RemittanceLocationMethod2Code" minOccurs="0"/>
      <xs:element name="RmtLctnElctrncAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="RmtLctnPstlAdr" type="NameAndAddress10" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RemittanceLocationMethod2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EDIC"/>
      <xs:enumeration value="EMAL"/>
      <xs:enumeration value="FAXI"/>
      <xs:enumeration value="POST"/>
      <xs:enumeration value="SMSM"/>
      <xs:enumeration value="URID"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReportEntry2">
    <xs:sequence>
      <xs:element name="NtryRef" type="Max35Text" minOccurs="0"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
      <xs:element name="RvslInd" type="TrueFalseIndicator" minOccurs="0"/>
      <xs:element name="Sts" type="EntryStatus2Code"/>
      <xs:element name="BookgDt" type="DateAndDateTimeChoice" minOccurs="0"/>
      <xs:element name="ValDt" type="DateAndDateTimeChoice" minOccurs="0"/>
      <xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0"/>
      <xs:element name="Avlbty" type="CashBalanceAvailability2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BkTxCd" type="BankTransactionCodeStructure4"/>
      <xs:element name="ComssnWvrInd" type="YesNoIndicator" minOccurs="0"/>
      <xs:element name="AddtlInfInd" type="MessageIdentification2" minOccurs="0"/>
      <xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0"/>
      <xs:element name="Chrgs" type="ChargesInformation6" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TechInptChanl" type="TechnicalInputChannel1Choice" minOccurs="0"/>
      <xs:element name="Intrst" type="TransactionInterest2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NtryDtls" type="EntryDetails1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AddtlNtryInf" type="Max500Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportEntry2_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="ReportEntry2">
        <xs:sequence>
          <xs:element name="NtryRef" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount_CH_camt054">
            <xs:annotation>
              <xs:documentation source="FE_en">Settlement Amount</xs:documentation>
              <xs:documentation source="FE_de">Verrechnungsbetrag</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtDbtInd" type="CreditDebitCode">
            <xs:annotation>
              <xs:documentation source="FE_en">Credit Debit Indicator</xs:documentation>
              <xs:documentation source="FE_de">Saldokennzeichen</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Fix DBIT.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Fix DBIT.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RvslInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Sts" type="EntryStatus2Code">
            <xs:annotation>
              <xs:documentation source="FE_en">Booking Status</xs:documentation>
              <xs:documentation source="FE_de">Buchungsstatus</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Fix BOOK.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Fix BOOK.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BookgDt" type="DateAndDateTimeChoice_CH_camt054" minOccurs="0"/>
          <xs:element name="ValDt" type="DateAndDateTimeChoice_CH_camt054_2" minOccurs="0"/>
          <xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Avlbty" type="CashBalanceAvailability2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="BkTxCd" type="BankTransactionCodeStructure4_CH_camt054"/>
          <xs:element name="ComssnWvrInd" type="YesNoIndicator" minOccurs="0" maxOccurs="0"/>
          <xs:element name="AddtlInfInd" type="MessageIdentification2_CH_camt054" minOccurs="0" maxOccurs="0"/>
          <xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Chrgs" type="ChargesInformation6" minOccurs="0" maxOccurs="0"/>
          <xs:element name="TechInptChanl" type="TechnicalInputChannel1Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Intrst" type="TransactionInterest2" minOccurs="0" maxOccurs="0"/>
          <xs:element name="NtryDtls" type="EntryDetails1_CH_camt054"/>
          <xs:element name="AddtlNtryInf" type="Max500Text" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReportingSource1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalReportingSource1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportingSource1Choice_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="ReportingSource1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalReportingSource1Code">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Wird nicht verwendet.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Not used.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">RTGS Identification Code</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Identifikationscode des RTGS</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Fix CSC für SIC, CEC für euroSIC.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Fix CSC for SIC, CEC for euroSIC.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReturnReason5Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalReturnReason1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReturnReasonInformation10">
    <xs:sequence>
      <xs:element name="OrgnlBkTxCd" type="BankTransactionCodeStructure4" minOccurs="0"/>
      <xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Rsn" type="ReturnReason5Choice" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="ISIN" type="ISINIdentifier"/>
        <xs:element name="Prtry" type="AlternateSecurityIdentification2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
      <xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmount1">
    <xs:sequence>
      <xs:element name="Rate" type="PercentageRate" minOccurs="0"/>
      <xs:element name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Dtls" type="TaxRecordDetails1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAuthorisation1">
    <xs:sequence>
      <xs:element name="Titl" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxCharges2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Rate" type="PercentageRate" minOccurs="0"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxInformation3">
    <xs:sequence>
      <xs:element name="Cdtr" type="TaxParty1" minOccurs="0"/>
      <xs:element name="Dbtr" type="TaxParty2" minOccurs="0"/>
      <xs:element name="AdmstnZn" type="Max35Text" minOccurs="0"/>
      <xs:element name="RefNb" type="Max140Text" minOccurs="0"/>
      <xs:element name="Mtd" type="Max35Text" minOccurs="0"/>
      <xs:element name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Dt" type="ISODate" minOccurs="0"/>
      <xs:element name="SeqNb" type="Number" minOccurs="0"/>
      <xs:element name="Rcrd" type="TaxRecord1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty1">
    <xs:sequence>
      <xs:element name="TaxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="RegnId" type="Max35Text" minOccurs="0"/>
      <xs:element name="TaxTp" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty2">
    <xs:sequence>
      <xs:element name="TaxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="RegnId" type="Max35Text" minOccurs="0"/>
      <xs:element name="TaxTp" type="Max35Text" minOccurs="0"/>
      <xs:element name="Authstn" type="TaxAuthorisation1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxPeriod1">
    <xs:sequence>
      <xs:element name="Yr" type="ISODate" minOccurs="0"/>
      <xs:element name="Tp" type="TaxRecordPeriod1Code" minOccurs="0"/>
      <xs:element name="FrToDt" type="DatePeriodDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecord1">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctgy" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtgyDtls" type="Max35Text" minOccurs="0"/>
      <xs:element name="DbtrSts" type="Max35Text" minOccurs="0"/>
      <xs:element name="CertId" type="Max35Text" minOccurs="0"/>
      <xs:element name="FrmsCd" type="Max35Text" minOccurs="0"/>
      <xs:element name="Prd" type="TaxPeriod1" minOccurs="0"/>
      <xs:element name="TaxAmt" type="TaxAmount1" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecordDetails1">
    <xs:sequence>
      <xs:element name="Prd" type="TaxPeriod1" minOccurs="0"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TaxRecordPeriod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HLF1"/>
      <xs:enumeration value="HLF2"/>
      <xs:enumeration value="MM01"/>
      <xs:enumeration value="MM02"/>
      <xs:enumeration value="MM03"/>
      <xs:enumeration value="MM04"/>
      <xs:enumeration value="MM05"/>
      <xs:enumeration value="MM06"/>
      <xs:enumeration value="MM07"/>
      <xs:enumeration value="MM08"/>
      <xs:enumeration value="MM09"/>
      <xs:enumeration value="MM10"/>
      <xs:enumeration value="MM11"/>
      <xs:enumeration value="MM12"/>
      <xs:enumeration value="QTR1"/>
      <xs:enumeration value="QTR2"/>
      <xs:enumeration value="QTR3"/>
      <xs:enumeration value="QTR4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TechnicalInputChannel1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalTechnicalInputChannel1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalsPerBankTransactionCode2">
    <xs:sequence>
      <xs:element name="NbOfNtries" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="Sum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="TtlNetNtryAmt" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="FcstInd" type="TrueFalseIndicator" minOccurs="0"/>
      <xs:element name="BkTxCd" type="BankTransactionCodeStructure4"/>
      <xs:element name="Avlbty" type="CashBalanceAvailability2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalTransactions2">
    <xs:sequence>
      <xs:element name="TtlNtries" type="NumberAndSumOfTransactions2" minOccurs="0"/>
      <xs:element name="TtlCdtNtries" type="NumberAndSumOfTransactions1" minOccurs="0"/>
      <xs:element name="TtlDbtNtries" type="NumberAndSumOfTransactions1" minOccurs="0"/>
      <xs:element name="TtlNtriesPerBkTxCd" type="TotalsPerBankTransactionCode2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionAgents2">
    <xs:sequence>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="RcvgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="DlvrgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="IssgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="SttlmPlc" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="Prtry" type="ProprietaryAgent2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionAgents2_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="TransactionAgents2">
        <xs:sequence>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4_CH_camt054" minOccurs="0"/>
          <xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="RcvgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="DlvrgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="IssgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="SttlmPlc" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
          <xs:element name="Prtry" type="ProprietaryAgent2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransactionDates2">
    <xs:sequence>
      <xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="TradActvtyCtrctlSttlmDt" type="ISODate" minOccurs="0"/>
      <xs:element name="TradDt" type="ISODate" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
      <xs:element name="StartDt" type="ISODate" minOccurs="0"/>
      <xs:element name="EndDt" type="ISODate" minOccurs="0"/>
      <xs:element name="TxDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="Prtry" type="ProprietaryDate2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInterest2">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
      <xs:element name="Tp" type="InterestType1Choice" minOccurs="0"/>
      <xs:element name="Rate" type="Rate3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="FrToDt" type="DateTimePeriodDetails" minOccurs="0"/>
      <xs:element name="Rsn" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionParty2">
    <xs:sequence>
      <xs:element name="InitgPty" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="TradgPty" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Prtry" type="ProprietaryParty2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionPrice2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DealPric" type="ActiveOrHistoricCurrencyAndAmount"/>
        <xs:element name="Prtry" type="ProprietaryPrice2" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionQuantities1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Qty" type="FinancialInstrumentQuantityChoice"/>
        <xs:element name="Prtry" type="ProprietaryQuantity1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionReferences2">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
      <xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0"/>
      <xs:element name="PmtInfId" type="Max35Text" minOccurs="0"/>
      <xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
      <xs:element name="TxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
      <xs:element name="ChqNb" type="Max35Text" minOccurs="0"/>
      <xs:element name="ClrSysRef" type="Max35Text" minOccurs="0"/>
      <xs:element name="Prtry" type="ProprietaryReference1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionReferences2_CH_camt054">
    <xs:complexContent>
      <xs:restriction base="TransactionReferences2">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt054_3">
            <xs:annotation>
              <xs:documentation source="FE_en">Original Message Identification</xs:documentation>
              <xs:documentation source="FE_de">Meldungsidentifikation der referenzierten Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Meldungsidentifikation der verrechneten Meldung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Message identification of the settled message.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="PmtInfId" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="InstrId" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="EndToEndId" type="Max35Text" minOccurs="0" maxOccurs="0">
            <xs:annotation>
              <xs:documentation source="FE_en">Debtor Reference</xs:documentation>
              <xs:documentation source="FE_de">Zahlungsreferenz des Zahlers</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxId" type="Max35Text_CH_camt054_3">
            <xs:annotation>
              <xs:documentation source="FE_en">Transaction Identification</xs:documentation>
              <xs:documentation source="FE_de">Transaktionsreferenz</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Transaktionsreferenz der verrechneten Meldung.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Transaction identification of the settled message.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MndtId" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="ChqNb" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="ClrSysRef" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Prtry" type="ProprietaryReference1" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="YesNoIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
