tapestry/impsic/xsd/sic/sic-2020/camt.003.001.05.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2016, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:   Version of this scheme

This schema is a customised schema for the specific requirements of SIC4, and is not the official SWIFT schema. 
The full SWIFT schema may be found on www.swift.com

For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.003.001.05.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.003.001.05.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt003"/>
  <xs:complexType name="AccountCriteria1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="NewCrit" type="AccountCriteria5"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountCriteria1Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountCriteria1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="NewCrit" type="AccountCriteria5_CH_camt003"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountCriteria5">
    <xs:sequence>
      <xs:element name="NewQryNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="SchCrit" type="CashAccountSearchCriteria5" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountCriteria5_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountCriteria5">
        <xs:sequence>
          <xs:element name="NewQryNm" type="Max35Text">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Query Type</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Abfragetyp</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Muss zwingend verwendet werden zur eindeutigen Identifizierung des Abfragetyps.
Folgende Codes sind definiert:
ACCQRY - Saldenabfrage Verrechnungskonto
PMTQRY - Saldenabfrage Zahlungsarten
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Must be used to identify the query type.
The following codes are defined:
ACCQRY - Settlement account balances query
PMTQRY - Payment type balances query
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SchCrit" type="CashAccountSearchCriteria5_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Othr" type="GenericAccountIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt003">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">Identification of Settlement Account (proprietary)</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Verrechnungskontos (proprietär)</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition"/>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="EQ" type="AccountIdentification4Choice"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentificationSearchCriteria2Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountIdentificationSearchCriteria2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="EQ" type="AccountIdentification4Choice_CH_camt003">
              <xs:annotation>
                <xs:documentation source="FE_en">Comparison Operator</xs:documentation>
                <xs:documentation source="FE_de">Vergleichsoperator</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition"/>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountQuery1">
    <xs:sequence>
      <xs:element name="AcctCrit" type="AccountCriteria1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountQuery1_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="AccountQuery1">
        <xs:sequence>
          <xs:element name="AcctCrit" type="AccountCriteria1Choice_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalanceCounterparty1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MULT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashAccountSearchCriteria5">
    <xs:sequence>
      <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Bal" type="CashBalance4" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcctOwnr" type="PartyIdentification43" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountSearchCriteria5_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="CashAccountSearchCriteria5">
        <xs:sequence>
          <xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice_CH_camt003">
            <xs:annotation>
              <xs:documentation source="FE_en">Settlement Account Information</xs:documentation>
              <xs:documentation source="FE_de">Verrechnungskontoinformationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tp" type="CashAccountType2Choice_CH_camt003" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="FE_en">Result Type</xs:documentation>
              <xs:documentation source="FE_de">Resultattyp</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Wenn geliefert, erfolgt eine Konsolidierung der Ergebniswerte über das Haupt- und das zugehörige Nebenkonto.
Ohne diese Angabe werden nur die Werte des im Element &lt;AcctId&gt; angegebenen Kontos geliefert.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
If provided the result set will contain the consolidated values of the settlement account and it's sub-account.
Otherwise only values of the settlement account specified in the &lt;AcctId&gt; element will be provided in the result set.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Bal" type="CashBalance4_CH_camt003">
            <xs:annotation>
              <xs:documentation source="FE_en">Selection Criteria Balance</xs:documentation>
              <xs:documentation source="FE_de">Abfragekriterium Saldo</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcctOwnr" type="PartyIdentification43_CH_camt003">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Account Owner</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Kontoberechtigter Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Entspricht dem abfragenden Teilnehmer und wird für die Berechtigungsprüfung verwendet.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Identifies the party submitting the query. Required for authorization checking.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccountType2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="CashAccountType2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Prtry" type="Max35Text">
              <xs:annotation>
                <xs:documentation source="FE_en">Result Type Code</xs:documentation>
                <xs:documentation source="FE_de">Resultattyp Code</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">
Anforderung konsolidierter Informationen.
Folgender Code ist definiert:
SUBAC - Konsolidierte Werte aus Haupt- und Nebenkonto
                </xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">
Request of consolidated information.
The following code is defined:
SUBAC - Consolidated values of settlement account and it's sub-account
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashBalance4">
    <xs:sequence>
      <xs:element name="CtrPtyTp" type="BalanceCounterparty1Code"/>
      <xs:element name="ValDt" type="DateAndDateTimeSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalance4_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="CashBalance4">
        <xs:sequence>
          <xs:element name="CtrPtyTp" type="BalanceCounterparty1Code">
            <xs:annotation>
              <xs:documentation source="FE_en">Counter Party Type</xs:documentation>
              <xs:documentation source="FE_de">Gegenparteityp</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Nur Code MULT zulässig</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Only code MULT may be provided</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ValDt" type="DateAndDateTimeSearchChoice_CH_camt003">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Selection Criteria Settlement Date</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Abfragekriterium Verrechnungsdatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearchChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DtSch" type="DateSearchChoice"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeSearchChoice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="DateAndDateTimeSearchChoice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="DtSch" type="DateSearchChoice_CH_camt003"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateSearchChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="EQDt" type="ISODate"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateSearchChoice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="DateSearchChoice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="EQDt" type="ISODate">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">Settlement Date</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Verrechnungsdatum</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">
Muss ein gültiges Kalenderdatum sein.
Darf nicht mehr als 5 Bankwerktage in der Zukunft liegen.
Darf nicht mehr als 2 Bankwerktage zurückliegen.
Die entsprechenden Salden dieses Verrechnungsdatums werden selektiert.
                </xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">
Must be a valid date.
Must not be more than 5 banking business days in the future.
Must not be more than 2 banking business days in the past.
Eligible balances for the specified date will be selected.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetAcct" type="GetAccountV05"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="GetAcct" type="GetAccountV05_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text">
            <xs:annotation>
              <xs:documentation source="FE_en">Settlement Account</xs:documentation>
              <xs:documentation source="FE_de">Verrechnungskonto</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification1_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GenericIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">RTGS Code</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikationscode des RTGS</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Fix CSC für SIC, CEC für euroSIC.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Fix CSC for SIC, CEC for euroSIC.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GenericOrganisationIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Member Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">SIC-IID-Nummer (=6n), muss im Bankenstamm vorhanden und aktiv sein.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">SIC IID (=6n), must be contained in the bank master data and active.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetAccountV05">
    <xs:sequence>
      <xs:element name="MsgHdr" type="MessageHeader2"/>
      <xs:element name="AcctQryDef" type="AccountQuery1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountV05_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="GetAccountV05">
        <xs:sequence>
          <xs:element name="MsgHdr" type="MessageHeader2_CH_camt003"/>
          <xs:element name="AcctQryDef" type="AccountQuery1_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt003">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageHeader2">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="ReqTp" type="RequestType2Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader2_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="MessageHeader2">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_camt003">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Message Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Meldungsidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Für dieses Element ist nur der SWIFT-Zeichensatz ohne Leerzeichen zugelassen.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Only the SWIFT character set excluding spaces is permitted for this element.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Creation Date Time</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Erstellungszeitpunkt der Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqTp" type="RequestType2Choice_CH_camt003"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification8">
        <xs:sequence>
          <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Account Owner (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Kontoinhabers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Element darf nicht gleichzeitig mit &lt;Othr&gt; verwendet werden.
Muss einen gültigen Wert gemäss ISO 9362 enthalten.
Muss gültigen BIC eines aktiven Teilnehmers enthalten.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
SWIFT address with 8 or 11 alphanumeric characters.
This element must not be used at the same time as &lt;Othr&gt;.
Must contain a valid value according to ISO 9362.
Must contain a valid BIC of an active participant.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt003" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Account Owner (proprietary)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Kontoinhabers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Element darf nicht gleichzeitig mit &lt;AnyBIC&gt; verwendet werden.
Muss gültige Identifikation eines aktiven Teilnehmers enthalten.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
This element must not be used at the same time as &lt;AnyBIC&gt;.
Must contain a valid identification of an active participant.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party11Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification8"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party11Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="Party11Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification8_CH_camt003">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">Account Owner Identification</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Identifikation des kontoberechtigten Teilnehmers</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Entweder &lt;AnyBIC&gt; oder &lt;Othr&gt; muss verwendet werden.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Either &lt;AnyBIC&gt; or &lt;Othr&gt; must be used.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43">
    <xs:sequence>
      <xs:element name="Id" type="Party11Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification43">
        <xs:sequence>
          <xs:element name="Id" type="Party11Choice_CH_camt003">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestType2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Prtry" type="GenericIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestType2Choice_CH_camt003">
    <xs:complexContent>
      <xs:restriction base="RequestType2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification1_CH_camt003"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
