tapestry/impsic/xsd/sic/sic-2020/pacs.028.001.01.chsepa.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2019, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .chsdd:   Identification as a Swiss (CH) version
	Suffix part 2: .02:   Version of this scheme

Based on ISO pacs.028.001.01 (urn:iso:std:iso:20022:tech:xsd:pacs.028.001.01)
For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/pacs.028.001.01.chsepa.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/pacs.028.001.01.chsepa.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CHSEPA_pacs028"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="IBAN" type="IBAN2007Identifier"/>
      <xs:element name="Othr" type="GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:choice>
          <xs:element name="IBAN" type="IBAN2007Identifier"/>
          <xs:element name="Othr" type="GenericAccountIdentification1_CHSEPA_pacs028"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CHSEPA_pacs028_2">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:choice>
          <xs:element name="IBAN" type="IBAN2007Identifier"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="AccountSchemeName1Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount_CHSEPA_pacs028">
    <xs:simpleContent>
      <xs:restriction base="ActiveOrHistoricCurrencyAndAmount">
        <xs:fractionDigits value="2"/>
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICFIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CHSEPA_pacs028"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028_2">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CHSEPA_pacs028_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028_3">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_CHSEPA_pacs028_3"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccount24">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount24_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="CashAccount24">
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CHSEPA_pacs028"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccount24_CHSEPA_pacs028_2">
    <xs:complexContent>
      <xs:restriction base="CashAccount24">
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CHSEPA_pacs028_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="CategoryPurpose1Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification3Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceInformation2">
        <xs:sequence>
          <xs:element name="Tp" type="CreditorReferenceType2_CHSEPA_pacs028"/>
          <xs:element name="Ref" type="Max35Text_CHSEPA_pacs028_3"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="DocumentType3Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceType2">
        <xs:sequence>
          <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="DateAndPlaceOfBirth">
        <xs:sequence>
          <xs:element name="BirthDt" type="ISODate"/>
          <xs:element name="PrvcOfBirth" type="Max35Text_CHSEPA_pacs028_3" minOccurs="0"/>
          <xs:element name="CityOfBirth" type="Max35Text_CHSEPA_pacs028_3"/>
          <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentStatusRequestV01"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentStatusRequestV01_CHSEPA_pacs028"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification8">
    <xs:sequence>
      <xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification8">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Instructing Participant (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des anweisenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Muss einen gültigen Wert gemäss ISO 9362 enthalten.
Muss gültigen BIC eines aktiven Teilnehmers enthalten. 
Darf nicht verkettet sein.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
SWIFT address with 8 or 11 alphanumeric characters.
Must contain a valid value according to ISO 9362.
Must contain a valid BIC of an active participant. 
Must not be concatenated.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CHSEPA_pacs028_2">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification8">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Instructed Participant (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des gutzuschreibenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
SWIFT-Adresse mit 8 oder 11 alphanumerischen Zeichen.
Muss einen gültigen Wert gemäss ISO 9362 enthalten.
Muss gültigen BIC eines aktiven Teilnehmers enthalten.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
SWIFT address with 8 or 11 alphanumeric characters.
Must contain a valid value according to ISO 9362.
Must contain a valid BIC of an active participant.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericFinancialIdentification1_CHSEPA_pacs028" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation source="FE_de">Andere Identifikation der Organisation</xs:documentation>
              <xs:documentation source="FE_en">Other Organisation Identification</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_CHSEPA_pacs028_3">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification8">
        <xs:sequence>
          <xs:element name="BICFI" type="BICFIIdentifier"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusRequestV01">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader53"/>
      <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation27" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TxInf" type="PaymentTransaction73" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusRequestV01_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="FIToFIPaymentStatusRequestV01">
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader53_CHSEPA_pacs028"/>
          <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation27_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation source="FE_de">Informationen zum verschickten Rückzahlungsbegehren oder zur verschickten Anfrage</xs:documentation>
              <xs:documentation source="FE_en">Informations regarding the submitted Request for Recall or Inquiry</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxInf" type="PaymentTransaction73_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation source="FE_en">Informations regarding the message "SEPA Request for Status Update"</xs:documentation>
              <xs:documentation source="FE_de">Informationen zur Meldung «SEPA-Abfrage Status»</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Darf in euroSIC nur einmal verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">May only occur once in euroSIC.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text_CHSEPA_pacs028"/>
          <xs:element name="SchmeNm" type="AccountSchemeName1Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="GenericFinancialIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Message from RTGS system to participant: In case of a concatenation or direct routing, the identification of the instructed participant assigned by the RTGS system will be complemented by the system. 
Message from participant to RTGS system: Must not be used.
              </xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Meldung vom RTGS-System an den Teilnehmer: Bei einer Verkettung oder Direktleitung wird die vom RTGS-System zugewiesene Identifikation des angewiesenen Teilnehmers durch das System ergänzt.
Meldung vom Teilnehmer an das RTGS-System: Darf nicht verwendet werden.
              </xs:documentation>
              <xs:documentation source="FE_de">Zugewiesene Identifikation des angewiesenen Teilnehmers</xs:documentation>
              <xs:documentation source="FE_en">Assigned Identification of the Instructed Participant</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="GenericOrganisationIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CHSEPA_pacs028_2"/>
          <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="GenericPersonIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CHSEPA_pacs028_2"/>
          <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CHSEPA_pacs028_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GroupHeader53">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader53_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="GroupHeader53">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Message Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Meldungsidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Für dieses Element ist nur der SWIFT-Zeichensatz ohne Leerzeichen zugelassen.
Wird in Kombination mit &lt;InstgAgt&gt; für die Duplikatsprüfung auf Ebene Meldung verwendet und darf innerhalb der zugelassenen Valutatage nur einmal vorkommen. Zugelassene Valutatage sind Valuta heute und 2 Tage Vergangenheit.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Only the SWIFT character set excluding spaces is permitted for this element.
It is used together with &lt;InstgAgt&gt; for duplicate checking at message level and can only occur once within the permitted value dates. Permitted value dates are value date today and 2 days in the past.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Creation Date Time</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Erstellungszeitpunkt der Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Instructing Participant</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Institut des Zahlers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Muss verwendet werden.
Eigene Identifikation des zahlenden Teilnehmers.
Wird in Kombination mit &lt;MsgId&gt; / &lt;StsReqId&gt; für die Duplikatsprüfung verwendet.
Zur Adressierung des Teilnehmers muss das Element &lt;BICFI&gt; verwendet werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Must be used.
Own identification of the instructing participant.
Is used together with &lt;MsgId&gt; / &lt;StsReqId&gt; for duplicate checking.
For addressing the participant, the element &lt;BICFI&gt; must be used.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Instructed Participant</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Institut des Zahlungsempfängers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Muss verwendet werden.
Zur Adressierung des Teilnehmers muss das Element &lt;BICFI&gt; verwendet werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Must be used.
For addressing the participant, the element &lt;BICFI&gt; must be used.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="LocalInstrument2Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_CHSEPA_pacs028">
    <xs:restriction base="Max140Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text_CHSEPA_pacs028">
    <xs:restriction base="Max34Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CHSEPA_pacs028">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CHSEPA_pacs028_2">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CHSEPA_pacs028_3">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text_CHSEPA_pacs028">
    <xs:restriction base="Max70Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification8">
    <xs:sequence>
      <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification8">
        <xs:sequence>
          <xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation27">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation27_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="OriginalGroupInformation27">
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="Max35Text_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation source="FE_de">Meldungsidentifikation des Rückzahlungsbegehrens oder der Anfrage</xs:documentation>
              <xs:documentation source="FE_en">Original Message Identification of the Request for Recall or Inquiry</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlMsgNmId" type="Max35Text_CHSEPA_pacs028_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Message Name Identification of the Request for Recall or Inquiry</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Meldungstyp des Rückzahlungsbegehrens oder der Anfrage</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Die ersten 8 Stellen des Meldungstyps müssen zwingend geliefert werden. Folgende Werte sind zulässig (wird durch das RTGS-System validiert):
• camt.027
• CAMT.027
• camt.056
• CAMT.056
• camt.087
• CAMT.087

Zusätzliche Stellen zwecks Angabe der vollständigen Meldungsversion (z.B. «camt.056.001.01») sind zulässig, werden jedoch durch das RTGS-System nicht validiert.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
The first 8 digits of the message type must mandatory be sent. The following values are permitted (will be validated by the RTGS system):
• camt.027
• CAMT.027
• camt.056
• CAMT.056
• camt.087
• CAMT.087

Additional digits to indicate the complete message version (e.g. "camt.056.001.01") are permitted but will not be validated by the RTGS system.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference24">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
      <xs:element name="SttlmInf" type="SettlementInstruction4" minOccurs="0"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation25" minOccurs="0"/>
      <xs:element name="RmtInf" type="RemittanceInformation11" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="Dbtr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="DbtrAcct" type="CashAccount24" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="Cdtr" type="PartyIdentification43" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount24" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="PartyIdentification43" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference24_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="OriginalTransactionReference24">
        <xs:sequence>
          <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount_CHSEPA_pacs028" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="FE_en">Settlement Amount</xs:documentation>
              <xs:documentation source="FE_de">Verrechnungsbetrag</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Valuta-Soll</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Requested Settlement Date</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SttlmInf" type="SettlementInstruction4_CHSEPA_pacs028" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Verrechnungsinformationen</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Settlement Information</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation25_CHSEPA_pacs028" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Informationen zur Art der Transaktion</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Payment Type Information</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RmtInf" type="RemittanceInformation11_CHSEPA_pacs028" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Mitteilung an den Zahlungsempfänger</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Remittance Information</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UltmtDbtr" type="PartyIdentification43_CHSEPA_pacs028" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Ursprünglicher Zahler</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Ultimate Debtor</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Dbtr" type="PartyIdentification43_CHSEPA_pacs028_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Zahler</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Debtor</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DbtrAcct" type="CashAccount24_CHSEPA_pacs028_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Konto des Zahlers</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Debtor Account</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028_3" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Debtor Agent</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Institut des Zahlers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5_CHSEPA_pacs028_3" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Institut des Zahlungsempfängers</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Creditor Agent</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Cdtr" type="PartyIdentification43_CHSEPA_pacs028_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Zahlungsempfänger</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Creditor</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtrAcct" type="CashAccount24_CHSEPA_pacs028_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Konto des Zahlungsempfängers</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Creditor Account</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UltmtCdtr" type="PartyIdentification43_CHSEPA_pacs028" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Endgültiger Zahlungsempfänger</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Ultimate Creditor</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party11Choice">
    <xs:choice>
      <xs:element name="OrgId" type="OrganisationIdentification8"/>
      <xs:element name="PrvtId" type="PersonIdentification5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party11Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="Party11Choice">
        <xs:choice>
          <xs:element name="OrgId" type="OrganisationIdentification8_CHSEPA_pacs028"/>
          <xs:element name="PrvtId" type="PersonIdentification5_CHSEPA_pacs028"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party11Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification43">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Id" type="Party11Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_CHSEPA_pacs028_2">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification43">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Id" type="Party11Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction73">
    <xs:sequence>
      <xs:element name="StsReqId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxRef" type="OriginalTransactionReference24" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransaction73_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="PaymentTransaction73">
        <xs:sequence>
          <xs:element name="StsReqId" type="Max35Text_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Eindeutige Referenz der Meldung «SEPA-Abfrage Status».
Für dieses Element ist nur der SWIFT-Zeichensatz ohne Leerzeichen zugelassen.
Wird in Kombination mit &lt;InstgAgt&gt; für die Duplikatsprüfung auf Ebene Transaktion verwendet und darf innerhalb der zugelassenen Valutatage nur einmal vorkommen. Zugelassene Valutatage sind Valuta heute und 2 Tage Vergangenheit.
Hinweis: Für erfolgreiche Verarbeitung darf weder auf Ebene Meldung noch auf Ebene Transaktion ein Duplikat erkannt werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Unique identification of the message "SEPA Request for Status Update".
Only the SWIFT character set excluding spaces is permitted for this element.
It is used together with &lt;InstgAgt&gt; for duplicate checking at transaction level and may only occur once within the permitted value dates. Permitted value dates are value date today and 2 days in the past. 
Note: To be processed successfully, no duplicates must be identifiable at either message level or transaction level.
              </xs:documentation>
              <xs:documentation source="FE_de">Identifikation der Meldung «SEPA-Abfrage Status»</xs:documentation>
              <xs:documentation source="FE_en">Identification of the message "SEPA Request for Status Update"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlInstrId" type="Max35Text_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Instruction Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Ursprüngliche Identifikation des Rückzahlungsbegehrens oder der Anfrage</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlEndToEndId" type="Max35Text_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Zahlungsreferenz des Zahlers der Ursprungszahlung</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Debtor Reference</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlTxId" type="Max35Text_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="DE" source="FE_de">Transaktionsreferenz der Ursprungszahlung</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Transaction Identification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlTxRef" type="OriginalTransactionReference24_CHSEPA_pacs028">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Die gelieferten Elemente müssen eine exakte Kopie der Inhalte aus den Elementen der Ursprungszahlung enthalten.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">The elements that are sent must contain an exact copy of the content from the elements in the original payment.</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Informationsinhalte der Ursprungszahlung</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Transaction Reference</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation25">
    <xs:sequence>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation25_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="PaymentTypeInformation25">
        <xs:sequence>
          <xs:element name="SvcLvl" type="ServiceLevel8Choice"/>
          <xs:element name="LclInstrm" type="LocalInstrument2Choice_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="CtgyPurp" type="CategoryPurpose1Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="PersonIdentification5">
        <xs:sequence>
          <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Othr" type="GenericPersonIdentification1_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="PersonIdentificationSchemeName1Choice">
        <xs:choice>
          <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
          <xs:element name="Prtry" type="Max35Text_CHSEPA_pacs028_2"/>
        </xs:choice>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="PostalAddress6">
        <xs:sequence>
          <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
          <xs:element name="AdrLine" type="Max70Text_CHSEPA_pacs028" minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation11">
    <xs:sequence>
      <xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="StructuredRemittanceInformation13" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation11_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="RemittanceInformation11">
        <xs:sequence>
          <xs:element name="Ustrd" type="Max140Text_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="Strd" type="StructuredRemittanceInformation13_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:choice>
      <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction4">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
      <xs:element name="SttlmAcct" type="CashAccount24" minOccurs="0"/>
      <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction4_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="SettlementInstruction4">
        <xs:sequence>
          <xs:element name="SttlmMtd" type="SettlementMethod1Code">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Settlement Information</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Verrechnungsinformationen</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SttlmAcct" type="CashAccount24_CHSEPA_pacs028" minOccurs="0"/>
          <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
      <xs:enumeration value="COVE"/>
      <xs:enumeration value="INDA"/>
      <xs:enumeration value="INGA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StructuredRemittanceInformation13">
    <xs:sequence>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation13_CHSEPA_pacs028">
    <xs:complexContent>
      <xs:restriction base="StructuredRemittanceInformation13">
        <xs:sequence>
          <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2_CHSEPA_pacs028" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
