tapestry/impsic/xsd/sic/sic-2020/pacs.002.001.03.ch.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2013, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .01:   Version of this scheme

Based on ISO pacs.002.001.03 (urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03)
For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/pacs.002.001.03.ch.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/pacs.002.001.03.ch.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_pacs002"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBAN2007Identifier"/>
        <xs:element name="Othr" type="GenericAccountIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmendmentInformationDetails6">
    <xs:sequence>
      <xs:element name="OrgnlMndtId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="OrgnlCdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="OrgnlDbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="OrgnlDbtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="OrgnlDbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="OrgnlFnlColltnDt" type="ISODate" minOccurs="0"/>
      <xs:element name="OrgnlFrqcy" type="Frequency1Code" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountType3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        <xs:element name="EqvtAmt" type="EquivalentAmount2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
      <xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_pacs002"/>
          <xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_pacs002_2">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_pacs002_2"/>
          <xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_pacs002_3">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_pacs002_3"/>
          <xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
      <xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
      <xs:element name="Nm" type="Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="CashAccountType4Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CashAccountType4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CACC"/>
      <xs:enumeration value="CASH"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="CISH"/>
      <xs:enumeration value="COMM"/>
      <xs:enumeration value="LOAN"/>
      <xs:enumeration value="MGLD"/>
      <xs:enumeration value="MOMA"/>
      <xs:enumeration value="NREX"/>
      <xs:enumeration value="ODFT"/>
      <xs:enumeration value="ONDP"/>
      <xs:enumeration value="SACC"/>
      <xs:enumeration value="SLRY"/>
      <xs:enumeration value="SVGS"/>
      <xs:enumeration value="TAXE"/>
      <xs:enumeration value="TRAS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargesInformation5">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="Pty" type="BranchAndFinancialInstitutionIdentification4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ClearingChannel2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK"/>
      <xs:enumeration value="MPNS"/>
      <xs:enumeration value="RTGS"/>
      <xs:enumeration value="RTNS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_pacs002_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_CH_pacs002_2">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">Clearing System Identification (code)</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Clearingsystems (Code)</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Zulässiger Codewert: CHSIC.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Permitted code value: CHSIC.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text_CH_pacs002_2">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">Clearing System Identification (proprietary)</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Clearingsystems (proprietär)</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">Wird aktuell nicht unterstützt.</xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">Currently not supported.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_pacs002" minOccurs="0"/>
          <xs:element name="MmbId" type="Max35Text_CH_pacs002_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_pacs002_2">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_pacs002_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Clearing System Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Clearingsystems</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Muss verwendet werden zwecks eindeutiger Identifizierung der verwendeten Adressierungsart.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Must be used for unambiguous identification of the address type being used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MmbId" type="Max35Text_CH_pacs002_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Member Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">SIC-IID (=6n)</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">SIC IID (=6n)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_pacs002_3">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_pacs002_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Clearing System Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Clearingsystems</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Muss verwendet werden zwecks eindeutiger Identifizierung der verwendeten Adressierungsart.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Must be used to unambiguously identify the address type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MmbId" type="Max35Text_CH_pacs002_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Member Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des Teilnehmers</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">SIC-IID (=6n)</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">SIC IID (=6n)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType3Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV03"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AROI"/>
      <xs:enumeration value="BOLD"/>
      <xs:enumeration value="CINV"/>
      <xs:enumeration value="CMCN"/>
      <xs:enumeration value="CNFA"/>
      <xs:enumeration value="CREN"/>
      <xs:enumeration value="DEBN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="DNFA"/>
      <xs:enumeration value="HIRI"/>
      <xs:enumeration value="MSIN"/>
      <xs:enumeration value="SBIN"/>
      <xs:enumeration value="SOAC"/>
      <xs:enumeration value="TSUT"/>
      <xs:enumeration value="VCHR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV03_CH_pacs002"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EquivalentAmount2">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalStatusReason1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_pacs002" minOccurs="0"/>
          <xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_CH_pacs002_2">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Instructing Participant (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des zahlenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Element darf nicht gleichzeitig mit &lt;ClrSysMmbId&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Element must not be used at the same time as &lt;ClrSysMmbId&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_pacs002_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Instructing Participant (proprietary)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des zahlenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Element darf nicht gleichzeitig mit &lt;BIC&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Element must not be used at the same time as &lt;BIC&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_CH_pacs002_3">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Instructed Participant (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des gutzuschreibenden Teilnehmers (BIC)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Element darf nicht gleichzeitig mit &lt;ClrSysMmbId&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Element must not be used at the same time as &lt;ClrSysMmbId&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_pacs002_3" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Identification of Instructed Participant (proprietary)</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Identifikation des gutzuschreibenden Teilnehmers (proprietär)</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Element darf nicht gleichzeitig mit &lt;BIC&gt; verwendet werden.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Element must not be used at the same time as &lt;BIC&gt;.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusReportV03">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader37"/>
      <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation20"/>
      <xs:element name="TxInfAndSts" type="PaymentTransactionInformation26" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFIPaymentStatusReportV03_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="FIToFIPaymentStatusReportV03">
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader37_CH_pacs002"/>
          <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation20_CH_pacs002"/>
          <xs:element name="TxInfAndSts" type="PaymentTransactionInformation26_CH_pacs002" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Frequency1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADHO"/>
      <xs:enumeration value="DAIL"/>
      <xs:enumeration value="INDA"/>
      <xs:enumeration value="MIAN"/>
      <xs:enumeration value="MNTH"/>
      <xs:enumeration value="QURT"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="YEAR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader37">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader37_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="GroupHeader37">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text_CH_pacs002">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Message Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Meldungsidentifikation</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Creation Date Time</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Erstellungszeitpunkt der Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4_CH_pacs002" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4_CH_pacs002" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MandateRelatedInformation6">
    <xs:sequence>
      <xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
      <xs:element name="DtOfSgntr" type="ISODate" minOccurs="0"/>
      <xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
      <xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails6" minOccurs="0"/>
      <xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
      <xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
      <xs:element name="FnlColltnDt" type="ISODate" minOccurs="0"/>
      <xs:element name="Frqcy" type="Frequency1Code" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max1025Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1025"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max105Text_CH_pacs002">
    <xs:restriction base="Max105Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
      <xs:pattern value="[A-Za-z0-9+?/:()@\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_pacs002">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_pacs002_2">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumberOfTransactionsPerStatus3">
    <xs:sequence>
      <xs:element name="DtldNbOfTxs" type="Max15NumericText"/>
      <xs:element name="DtldSts" type="TransactionIndividualStatus3Code"/>
      <xs:element name="DtldCtrlSum" type="DecimalNumber" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation20">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
      <xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="OrgnlNbOfTxs" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="OrgnlCtrlSum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="GrpSts" type="TransactionGroupStatus3Code" minOccurs="0"/>
      <xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="NbOfTxsPerSts" type="NumberOfTransactionsPerStatus3" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation20_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="OriginalGroupInformation20">
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="Max35Text_CH_pacs002">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Message Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Meldungsidentifikation der referenzierten Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Wenn die Meldungsidentifikation der quittierten Meldung nicht verfügbar ist, mit Wert UNKNOWN befüllen.
Hinweis für Meldungsversand vom Teilnehmer an das RTGS-System: Für erfolgreiche Quittierung einer Zahlung müssen sowohl auf Ebene Meldung (&lt;OrgnlMsgId&gt;) als auch auf Ebene Transaktion (&lt;OrgnlTxId&gt;) die korrekte Identifikation aus der an den Teilnehmer gelieferten Zahlungsmeldung geliefert werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
If the message identification of the message being acknowledged is not available, fill in with the value UNKNOWN.
Note for messages sent from the participant to the RTGS system: For a payment to be successfully acknowledged, the correct identification from the payment message sent to the participant must be given both at message level (&lt;OrgnlMsgId&gt;) and at transaction level (&lt;OrgnlTxId&gt;).
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlMsgNmId" type="Max35Text_CH_pacs002_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Message Name Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Meldungstyp der referenzierten Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Zugelassene Typen: pacs.004/pacs.008/pacs.009/pacs.028. Wird mit Wert UNKNOWN gefüllt, wenn der Typ der Meldung nicht bestimmt werden kann.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Permitted types: pacs.004/pacs.008/pacs.009/pacs.028. The element contains UNKNOWN if the type of the original payment message could not be identified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0" maxOccurs="0"/>
          <xs:element name="OrgnlNbOfTxs" type="Max15NumericText" minOccurs="0" maxOccurs="0"/>
          <xs:element name="OrgnlCtrlSum" type="DecimalNumber" minOccurs="0" maxOccurs="0"/>
          <xs:element name="GrpSts" type="TransactionGroupStatus3Code" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Group Status</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Transaktionsstatus</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Verwendung nur für NOK-Meldung bei nicht validierbaren Inhalten. Nur RJCT zulässig.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Used only for NOK message if the message could not be validated at all or an authentication error was raised. Only RJCT is permitted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StsRsnInf" type="StatusReasonInformation8_CH_pacs002" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Status Reason Information</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Informationen zum Grund des Status-Reports</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Verwendung nur für NOK-Meldung bei nicht validierbaren Inhalten oder bei Authentifizierungsfehler.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Used only for NOK message if the message could not be validated at all or an authentication error was raised.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NbOfTxsPerSts" type="NumberOfTransactionsPerStatus3" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference13">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Amt" type="AmountType3Choice" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
      <xs:element name="ReqdColltnDt" type="ISODate" minOccurs="0"/>
      <xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0"/>
      <xs:element name="CdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="SttlmInf" type="SettlementInformation13" minOccurs="0"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0"/>
      <xs:element name="PmtMtd" type="PaymentMethod4Code" minOccurs="0"/>
      <xs:element name="MndtRltdInf" type="MandateRelatedInformation6" minOccurs="0"/>
      <xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference13_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="OriginalTransactionReference13">
        <xs:sequence>
          <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Amt" type="AmountType3Choice" minOccurs="0" maxOccurs="0"/>
          <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Settlement Date</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Verrechnungsdatum</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Enthält das nach der Validierung eingesetzte Verrechnungsdatum der Zahlung.
Zwingend, wenn &lt;TxSts&gt; = ACCP oder ACWC.
Nicht vorhanden, wenn &lt;TxSts&gt; = RJCT.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Provides the designated settlement date of the payment after validation has been completed.
Mandatory if &lt;TxSts&gt; = ACCP or ACWC.
Not provided if &lt;TxSts&gt; = RJCT.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqdColltnDt" type="ISODate" minOccurs="0" maxOccurs="0"/>
          <xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CdtrSchmeId" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
          <xs:element name="SttlmInf" type="SettlementInformation13" minOccurs="0" maxOccurs="0"/>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0" maxOccurs="0"/>
          <xs:element name="PmtMtd" type="PaymentMethod4Code" minOccurs="0" maxOccurs="0"/>
          <xs:element name="MndtRltdInf" type="MandateRelatedInformation6" minOccurs="0" maxOccurs="0"/>
          <xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0" maxOccurs="0"/>
          <xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
          <xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0" maxOccurs="0"/>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="0"/>
          <xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
          <xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0" maxOccurs="0"/>
          <xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4"/>
        <xs:element name="PrvtId" type="PersonIdentification5"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party6Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentMethod4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="DD"/>
      <xs:enumeration value="TRA"/>
      <xs:enumeration value="TRF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTransactionInformation26">
    <xs:sequence>
      <xs:element name="StsId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="TxSts" type="TransactionIndividualStatus3Code" minOccurs="0"/>
      <xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ChrgsInf" type="ChargesInformation5" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0"/>
      <xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0"/>
      <xs:element name="ClrSysRef" type="Max35Text" minOccurs="0"/>
      <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="OrgnlTxRef" type="OriginalTransactionReference13" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransactionInformation26_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="PaymentTransactionInformation26">
        <xs:sequence>
          <xs:element name="StsId" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="OrgnlTxId" type="Max35Text_CH_pacs002">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Transaction Identification</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Transaktionsreferenz der referenzierten Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Nur 16 Stellen erlaubt.
Hinweis für Meldungsversand vom Teilnehmer an das RTGS-System: Für erfolgreiche Quittierung einer Zahlung müssen sowohl auf Ebene Meldung (&lt;OrgnlMsgId&gt;) als auch auf Ebene Transaktion (&lt;OrgnlTxId&gt;) die korrekte Identifikation aus der an den Teilnehmer gelieferten Zahlungsmeldung geliefert werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Maximum of 16 characters permitted.
Messages from participant to RTGS system: For a payment to be successfully acknowledged, the correct identifications of the payment message sent to the participant must be given both at message level (&lt;OrgnlMsgId&gt;) and at transaction level (&lt;OrgnlTxId&gt;).
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TxSts" type="TransactionIndividualStatus3Code">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Transaction Status</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Transaktionsstatus</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Folgende ISO-Codewerte stehen zur Verfügung:
ACCP = Empfangene Meldung ist korrekt.
ACWC = Empfangene Meldung ist korrekt, das Valutadatum oder der früheste Verrechnungszeitpunkt wurde angepasst (wird nur in der Meldung vom RTGS-System an den Teilnehmer verwendet).
RJCT = Die Meldung weist Fehler auf und kann nicht verarbeitet werden.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
The following ISO code values are permitted:
ACCP = Received message is correct.
ACWC = Received message is correct, the value date or the earliest settlement time has been changed (only used in messages from the RTGS system to the participant).
RJCT = The message contains errors and could not be processed.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StsRsnInf" type="StatusReasonInformation8_CH_pacs002_2" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Status Reason Information</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Informationen zum Grund des Status-Reports</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Wird nur in der Meldung vom RTGS-System an den Teilnehmer verwendet. Für jeden festgestellten Fehler oder Änderung wird jeweils ein &lt;StsRsnInf&gt; Block erstellt.
Zwingend, wenn &lt;TxSts&gt; = RJCT oder ACWC.
Nicht vorhanden, wenn &lt;TxSts&gt; = ACCP.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Only used in messages from the RTGS system to the participant. One &lt;StsRsnInf&gt; block will be provided for each error or change that was identified.
Mandatory if &lt;TxSts&gt; = RJCT.
Not available if &lt;TxSts&gt; = ACCP or ACWC.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChrgsInf" type="ChargesInformation5" minOccurs="0" maxOccurs="0"/>
          <xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Processing Date Time</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Verarbeitungszeitpunkt der referenzierten Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Wird nur in der Meldung vom RTGS-System an den Teilnehmer verwendet.
Enthält das Datum des Clearingtags und die Zeit, an dem die Zahlung validiert wurde.
Das Datum des Clearingtags kann vom Validierungsdatum abweichen.
Zwingend, wenn &lt;TxSts&gt; = ACCP oder ACWC.
Nicht vorhanden, wenn &lt;TxSts&gt; = RJCT.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Only used in messages from the RTGS system to the participant.
Contains the date of the current clearing day and the time at which the payment was validated.
The date of the  clearing day may be different from the validation date.
Mandatory if &lt;TxSts&gt; = ACCP or ACWC.
Not available if &lt;TxSts&gt; = RJCT.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="ClrSysRef" type="Max35Text" minOccurs="0" maxOccurs="0"/>
          <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4_CH_pacs002_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Instructing Participant</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Zahlender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4_CH_pacs002_3" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Instructed Participant</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Gutzuschreibender Teilnehmer</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlTxRef" type="OriginalTransactionReference13_CH_pacs002" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Original Transaction Reference</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Transaktionsinhalte aus der quittierten Meldung</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">
Wird nur in der Meldung vom RTGS-System an den Teilnehmer verwendet.
Zwingend, wenn &lt;TxSts&gt; = ACCP oder ACWC.
Nicht vorhanden, wenn &lt;TxSts&gt; = RJCT.
              </xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">
Only used in messages from the RTGS system to the participant. 
Mandatory if &lt;TxSts&gt; = ACCP or ACWC.
Not available if &lt;TxSts&gt; = RJCT.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation22">
    <xs:sequence>
      <xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
      <xs:element name="ClrChanl" type="ClearingChannel2Code" minOccurs="0"/>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="SeqTp" type="SequenceType1Code" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="NORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReferredDocumentInformation3">
    <xs:sequence>
      <xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
      <xs:element name="Nb" type="Max35Text" minOccurs="0"/>
      <xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType5Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount1">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5">
    <xs:sequence>
      <xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SequenceType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FNAL"/>
      <xs:enumeration value="FRST"/>
      <xs:enumeration value="OOFF"/>
      <xs:enumeration value="RCUR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementInformation13">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
      <xs:element name="SttlmAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0"/>
      <xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="InstgRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="InstdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="ThrdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="ThrdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
      <xs:enumeration value="COVE"/>
      <xs:enumeration value="INDA"/>
      <xs:enumeration value="INGA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StatusReason6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalStatusReason1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusReason6Choice_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="StatusReason6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="CH-Definition"/>
                <xs:documentation xml:lang="EN" source="CH-Definition"/>
              </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text_CH_pacs002_2">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">Status Report Reason (proprietary)</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Rückweisungsgrund (proprietär)</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">
Angabe des proprietären, 3-stelligen SIC-Fehlercodes. Folgende Codes sind zulässig: 
118 (Meldung unlesbar), nur vom RTGS-System an den Teilnehmer
134 (Authentikator falsch), nur vom Teilnehmer an das RTGS-System
                </xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">
Enter the proprietary 3-digit SIC code. The following codes are permitted: 
118 (message unreadable), only from RTGS system to participant
134 (incorrect authenticator), only from participant to RTGS system
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusReason6Choice_CH_pacs002_2">
    <xs:complexContent>
      <xs:restriction base="StatusReason6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="CH-Definition"/>
                <xs:documentation xml:lang="EN" source="CH-Definition"/>
              </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text_CH_pacs002_2">
              <xs:annotation>
                <xs:documentation xml:lang="DE" source="FE_en">Status Report Reason (proprietary)</xs:documentation>
                <xs:documentation xml:lang="DE" source="FE_de">Rückweisungsgrund (proprietär)</xs:documentation>
                <xs:documentation xml:lang="DE" source="CH-Definition">
Angabe des proprietären, 3-stelligen SIC-Fehlercodes.
Fehlercodes gemäss Schweizer RTGS-Handbuch.
                </xs:documentation>
                <xs:documentation xml:lang="EN" source="CH-Definition">
Proprietary 3-digit SIC error code. 
Error codes in accordance with the Swiss RTGS Handbook.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation8">
    <xs:sequence>
      <xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Rsn" type="StatusReason6Choice" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation8_CH_pacs002">
    <xs:complexContent>
      <xs:restriction base="StatusReasonInformation8">
        <xs:sequence>
          <xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Rsn" type="StatusReason6Choice_CH_pacs002" minOccurs="0"/>
          <xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Additional Information</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Zusatzinformation</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
              <xs:documentation xml:lang="EN" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusReasonInformation8_CH_pacs002_2">
    <xs:complexContent>
      <xs:restriction base="StatusReasonInformation8">
        <xs:sequence>
          <xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0" maxOccurs="0"/>
          <xs:element name="Rsn" type="StatusReason6Choice_CH_pacs002_2">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Status Report Reason</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Grund des Status-Reports</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddtlInf" type="Max105Text_CH_pacs002" maxOccurs="10">
            <xs:annotation>
              <xs:documentation xml:lang="DE" source="FE_en">Additional Information</xs:documentation>
              <xs:documentation xml:lang="DE" source="FE_de">Zusatzinformation</xs:documentation>
              <xs:documentation xml:lang="DE" source="CH-Definition">Zwingend bei Verwendung von &lt;StsRsnInf&gt;.</xs:documentation>
              <xs:documentation xml:lang="EN" source="CH-Definition">Mandatory if &lt;StsRsnInf&gt; is used.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
      <xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TransactionGroupStatus3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCP"/>
      <xs:enumeration value="ACSC"/>
      <xs:enumeration value="ACSP"/>
      <xs:enumeration value="ACTC"/>
      <xs:enumeration value="ACWC"/>
      <xs:enumeration value="PART"/>
      <xs:enumeration value="PDNG"/>
      <xs:enumeration value="RCVD"/>
      <xs:enumeration value="RJCT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionIndividualStatus3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCP"/>
      <xs:enumeration value="ACSC"/>
      <xs:enumeration value="ACSP"/>
      <xs:enumeration value="ACTC"/>
      <xs:enumeration value="ACWC"/>
      <xs:enumeration value="PDNG"/>
      <xs:enumeration value="RJCT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
